<div class="body-style-box">
<h2><%= @post.title %></h2>
<% if @post.url %>
  URL: <a href="http://<%= @post.url %>" target="_blank"><%= @post.url %></a>
<% end %>
<br>
<br>
<%= @post.content %>
<br>
<br>
<a class="btn btn-outline-primary btn-sm" href="<%= edit_post_url(@post) %>">Edit Post</a>
<a class="btn btn-outline-primary btn-sm" href="<%= subs_url %>">Back to Subs</a>
</div>
