<h2><%= @post.title %></h2>
<% if @post.url %>
  URL: <a href="http://<%= @post.url %>" target="_blank"><%= @post.url %></a>
<% end %>
<br>
<br>
<%= @post.content %>
<br>
<br>
<a href="<%= edit_post_url(@post) %>">Edit Post</a>
<br>
<br>
<a href="<%= subs_url %>">Back to Subs</a>
